<nav style="float: left; width: 25%;">
  <ul>
    <li>
      Core
      <ul>
        <li><a routerLink="/core/root-entity">rootEntity</a></li>
        <li><a routerLink="/core/root-entity-selector">rootEntitySelector</a></li>
        <li><a routerLink="/core/root-entities">rootEntities</a></li>
        <li><a routerLink="/core/related-entity">relatedEntity</a></li>
        <li><a routerLink="/core/related-entity-selector">relatedEntitySelector</a></li>
        <li><a routerLink="/core/child-entity">childEntity</a></li>
        <li><a routerLink="/core/child-entity-selector">childEntitySelector</a></li>
        <li><a routerLink="/core/children-entities">childrenEntities</a></li>
        <li><a routerLink="/core/children-entities-selector">childrenEntitiesSelector</a></li>
      </ul>
    </li>
  </ul>
</nav>
<main style="float: right; width: 75%;">
  <h2>Core</h2>
  <router-outlet></router-outlet>
</main>
